*.sif
*.simg
*.img
*.err
*.out
miptools/
build_logs/
__pycache__
.ipynb_checkpoints/
!docs/**
docs/.DS_store
docs/_build
user_scripts/input_data/
user_scripts/wrangled_data/
user_scripts/stats_and_variant_calling/
bcl2fastq2-v2-20-0-linux-x86-64.zip
programs/MIPWrangler/
programs/environment.tar.gz
bin/bs
bin/parasight.pl
bin/vt
.cache/
.snakemake/
